{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Марс</title>
</head>
<body>
<style>
    body {
        background-image: url("{% static 'MArs.jpeg' %}");
        display: flex;
        height: 95vh;
        z-index: 0;
    }

    #tex {
        color: white;
        display: flex;
        position: absolute;
        font-size: 20px;
        margin-left: 5%;
    }    
    #tex1 {
        color: deeppink;
        display: flex;
        position: absolute;
        font-size: 20px;
        margin-left: 90%;
    }

    #divTextfon {
        display: flex;
        position: absolute;
        background: white;
        height: 270vh;
        width: 60vw;
        opacity: .3;
        z-index: 1;
        border-radius: 1em;
        margin-top: 25px;
        margin-left: 20%;
    }

    #texto {
        color: black;
        position: absolute;
        font-size: 20px;
        text-align: justify;
        z-index: 5;
        width: 58vw;
        margin-top: 29px;
        margin-left: 21%;
        font-weight: bold;
    }
</style>

<form action="" method="post">
    <a href="mercury" id="tex" style="margin-top: 5%">МЕРКУРИЙ</a>
    <a href="venus" id="tex" style="margin-top: 7%">ВЕНЕРА</a>
    <a href="eath" id="tex" style="margin-top: 9%">ЗЕМЛЯ</a>
    <a href="mars" id="tex" style="margin-top: 11%">МАРС</a>
    <a href="user" id="tex1" style="margin-top: 5%">АККАУНТ</a>
    <div id="divTextfon"></div>
    
    <text id="texto">
        <p style="text-indent: 30px">Марс — четвёртая по удалённости от Солнца и седьмая по размеру планета Солнечной системы; масса планеты
        составляет 10,7 % массы Земли.Перейти к разделу «#Основные сведения» Названа в честь Марса — древнеримского бога
        войны, соответствующего древнегреческому Аресу.Перейти к разделу «#В античной мифологии» Также Марс называют
        красной планетой из-за красноватого оттенка поверхности, придаваемого ей минералом маггемитом — γ-оксидом
        железа(III).Перейти к разделу «#Грунт»</p>

        <p style="text-indent: 30px">Марс — планета земной группы с разреженной атмосферой (давление на поверхности в 160 раз меньше земного).Перейти
        к разделу «#Атмосфера и климат» Особенностями поверхностного рельефа Марса можно считать ударные кратеры
        наподобие лунных, а также вулканы, долины, пустыни и полярные ледниковые шапки наподобие земных.Перейти к
        разделу «#Лёд и полярные шапки»</p>

        <p style="text-indent: 30px">У Марса есть два естественных спутника — Фобос и Деймос (в переводе с древнегреческого — «страх» и «ужас», имена
        двух сыновей Ареса, сопровождавших его в бою), которые относительно малы (Фобос — 26,8×22,4×18,4 км, Деймос —
        15×12,2×10,4 км)[8][9] и имеют неправильную форму.Перейти к разделу «#Спутники»</p>

        <p style="text-indent: 30px">Начиная с 1962 года непосредственным исследованием Марса с помощью АМС занимались в СССР (программы «Марс»,
        «Фобос») и США (программы «Маринер», «Викинг», «Mars Global Surveyor» и другие), а также Европейское космическое
        агентство (программа «Марс-экспресс»), Индия (программа «Мангальян») и Китай (Тяньвэнь-1, Чжужун). На
        сегодняшний день Марс — наиболее подробно изученная планета Солнечной системы после Земли.</p>

        <h3 style="text-align: center">Основные сведения</h3>

        <p style="text-indent: 30px">Изображение Марса на основе снимков АМС «Розетта», сделанное 24 февраля 2007 года с высоты 240 000 км
        Марс — четвёртая по удалённости от Солнца (после Меркурия, Венеры и Земли) и седьмая по размеру (превосходит по
        массе и диаметру только Меркурий) планета Солнечной системы[10]. Масса Марса составляет 0,107 массы Земли, объём
        — 0,151 объёма Земли, а средний линейный диаметр — 0,53 диаметра Земли[9].</p>

        <p style="text-indent: 30px">Рельеф Марса обладает многими уникальными чертами. Марсианский потухший вулкан гора Олимп — самая высокая
        известная гора на планетах Солнечной системы[11] (самая высокая известная гора в Солнечной системе — на
        астероиде Веста[12]), а долины Маринер — самый крупный известный каньон на планетах (самый большой каньон в
        Солнечной системе обнаружен на спутнике Плутона — Хароне[13]). Помимо этого, южное и северное полушария планеты
        радикально отличаются по рельефу; существует гипотеза, что Великая Северная равнина, занимающая 40 % поверхности
        планеты, является импактным кратером; в этом случае она оказывается самым крупным известным ударным кратером в
        Солнечной системе[14][15][16].</p>

        <p style="text-indent: 30px">Марс имеет период вращения и смену времён года, аналогичные земным, но его климат значительно холоднее и суше
        земного.[источник не указан 271 день]</p>

        <p style="text-indent: 30px">Вплоть до полёта к Марсу автоматической межпланетной станции «Маринер-4» в 1965 году многие исследователи
        полагали, что на его поверхности есть вода в жидком состоянии. Это мнение было основано на наблюдениях за
        периодическими изменениями в светлых и тёмных участках, особенно в полярных широтах, которые были похожи на
        континенты и моря. Тёмные длинные линии на поверхности Марса интерпретировались некоторыми наблюдателями как
        ирригационные каналы для жидкой воды. Позднее было доказано, что большинство этих тёмных линий являются всего
        лишь оптической иллюзией[17].</p>

        <p style="text-indent: 30px">Великие противостояния Марса (минимальное расстояние до Земли) за 1830—2050 годы</p>

        <p style="text-indent: 30px">На самом деле из-за низкого давления вода (без примесей, понижающих точку замерзания) не может существовать в
        жидком состоянии на большей части (около 70 %) поверхности Марса[18]. Вода в состоянии льда была обнаружена в
        марсианском грунте космическим аппаратом НАСА «Феникс»[19][20]. В то же время собранные марсоходами «Спирит» и
        «Opportunity» геологические данные позволяют предположить, что в далёком прошлом вода покрывала значительную
        часть поверхности Марса. Наблюдения в течение последнего десятилетия позволили обнаружить в некоторых местах на
        поверхности Марса слабую гейзерную активность[21]. По наблюдениям с космического аппарата «Mars Global
        Surveyor», некоторые части южной полярной шапки Марса постепенно отступают[22].</p>

        <p style="text-indent: 30px">На 2021 год орбитальная исследовательская группировка на орбите Марса насчитывает восемь функционирующих
        космических аппаратов: «Марс Одиссей», «Марс-экспресс», «Mars Reconnaissance Orbiter», MAVEN, «Mars Orbiter
        Mission», «ExoMars Trace Gas Orbiter», «Аль-Амаль» и орбитальный аппарат китайской миссии «Тяньвэнь-1». Это
        больше, чем около любой другой планеты, не считая Землю. Поверхность же Марса исследует три марсохода —
        «Кьюриосити», «Персеверанс» и «Чжужун». Кроме того, на поверхности функционирует посадочный модуль миссии
        «InSight», а также находятся несколько неактивных посадочных модулей и марсоходов, завершивших
        исследования.[источник не указан 271 день]</p>

        <p style="text-indent: 30px">Марс хорошо виден с Земли невооружённым глазом. Его видимая звёздная величина достигает −2,91m (при максимальном
        сближении с Землёй). Марс уступает по яркости лишь Юпитеру (во время великого противостояния Марса он может
        превзойти Юпитер), Венере, Луне и Солнцу. Противостояние Марса можно наблюдать каждые два года. Последний раз
        Марс был в противостоянии 8 декабря 2022 года, а следующее противостояние Марса произойдёт 16 января 2025 года.
        Последнее же великое противостояние Марса произошло 27 июля 2018 года. Тогда он находился на расстоянии 0,386 а.
        е. от Земли[23]. Как правило, во время великого противостояния (то есть когда противостояние Марса с Землёй
        происходит близко к прохождению Марсом перигелия своей орбиты) оранжевый Марс становится ярчайшим объектом
        ночного неба после Луны (не считая Венеру, которая и тогда ярче него, но видна только утром или вечером), но это
        происходит лишь один раз в 15—17 лет в течение одной-двух недель.[источник не указан 271 день]</p>
    </text>
</form>
</body>
<script>
</script>
</html>